<div class="col">
    <form id="ldmForm" asp-controller="Movements" asp-action="InboundLDMStats">
        <div class="form-group">
            <label for="ldm">Inbound LDM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="col">
    <form id="cpmForm" asp-controller="Movements" asp-action="InboundCPMStats">
        <div class="form-group">
            <label for="cpm" class="text-center">Inbound CPM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="col">
    <form id="ucmForm" asp-controller="Movements" asp-action="InboundUCMStats">
        <div class="form-group">
            <label for="ucm">Inbound UCM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />