<div class="col">
    <form id="ldmForm" asp-controller="Movements" asp-action="OutboundLDMData">
        <div class="form-group">
            <label for="outboundLDM">Outbound LDM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<div class="col">
    <form id="cpmForm" asp-controller="Movements" asp-action="OutboundCPMData">
        <div class="form-group">
            <label for="outboundCPM">Outbound CPM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<div class="col">
    <form id="ucmForm" class="col" Movements" asp-action="OutboundUCMData">
        <div class="form-group">
            <label>Outbound UCM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<div class="col">
    <form id="psmForm" asp-controller="Movements" asp-action="OutboundPSMData">
        <div class="form-group">
            <label for="outboundPSM">Outbound PSM:</label>
            <textarea class="form-control w-100" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
