@{ 
    this.ViewData["Title"] = "Create outbound messages";
}


<div class="col">
    <form id="ldmForm" asp-controller="Movements" asp-action="OutboundLDMData">
        <div class="form-group">
            <label for="outboundLDM">Outbound LDM:</label>
            <textarea class="form-control w-100" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="col">
    <form id="cpmForm" asp-controller="Movements" asp-action="OutboundCPMData">
        <div class="form-group">
            <label for="outboundCPM">Outbound CPM:</label>
            <textarea class="form-control w-100" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="col">
    <form id="ucmForm">
        <div class="form-group">
            <label for="outboundUCM">Outbound UCM:</label>
            <textarea class="form-control w-100" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
