@using BMS.Models;
@model WeightFormInputModel
@{
    ViewData["Title"] = "Add weight form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <form asp-controller="FuelAndWeight" asp-action="RegisterWeightForm">
           <div class="form-group">
               <label>Flight number</label>
               <input type="text" class="form-control w-100"/>
           </div>
            <div class="form-group">
                <label>Aircraft basic weight:</label>
                <input type="number" class="form-control w-100"/>
            </div>
            <div class="form-group">
                <label>Maximum Zero Fuel weight:</label>
                <input type="number"  class="form-control w-100"/>
            </div>
            <div class="form-group">
                <label>Maximum Landing Weight:</label>
                <input type="number" class="form-control w-100" />
            </div>
            <div class="form-group">
                <label>Maximum Takeoff Weight:</label>
                <input type="number" class="form-control w-100" />
            </div>
        </form>
        <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
    </div>
</div>

