<div class="col">
    <button id="loginButton" type="button" class="btn btn-primary btn-lg" onclick="showHideLoginForm()">Show login</button>
    <div id="loginForm" class="form-group" style="display:none">
        <label>Login</label>
        <input type="text" class="form-control" placeholder="Maika ti 2" />
    </div>
</div>