<div class="col">
    <button id="registerButton" type="button" class="btn btn-primary btn-lg" onclick="showHideRegisterForm()">Show register</button>
    <div id="registerForm" class="form-group" style="display:none">
        <label>Register</label>
        <input type="text" class="form-control" placeholder="Desi koga shte piem kafe?" />
    </div>
</div>