@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BMS.Models;
@model RegisterUserInputModel
<div id="sky">
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
    <div id="cloud3" class="cloud"></div>
    <div id="cloud4" class="cloud"></div>
    <div id="cloud5" class="cloud"></div>
    <div id="cloud6" class="cloud"></div>
    <div id="cloud7" class="cloud"></div>
    <div id="aeroplane"></div>
</div>
  <partial name="_RegisterPartialView" />
  <partial name="_LoginPartialView" />
<link rel="stylesheet" href="~/css/coolError.css" />
<link rel="stylesheet" href="~/css/AnimatePlane.css" />

