@{ 
    ViewData["Arrival"] = "Arrival";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-controller="Movements" asp-action="Arrival">
                <div class="form-group">
                    <label>Enter arrival movement:</label>
                    <textarea class="form-control z-depth-1 w-100" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
            </form>
        </div>
    </div>
</div>  
