@{
    this.ViewData["Title"] = "Create departure movement";
}
@using BMS.Models.MovementsInputModels;
@model MovementInputModel
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-controller="Movements" asp-action="Departure">
                <div class="form-group">
                    <label>Enter departure movement:</label>
                    <textarea asp-for="@Model.Movement" class="form-control z-depth-1 w-100" rows="7"></textarea>
                    <span asp-validation-for="@Model.Movement"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
