@{ 
    this.ViewData["Departure"] = "DepartureMovement";
}
    <div class="row">
        <div class="col">
            <form id="depForm" asp-controller="Movements" asp-action="Departure">
                <div class="form-group">
                    <label for="flightNumber">Flight number:</label>
                    <input type="text" class="form-control w-100" />
                </div>
                <div class="form-group">
                    <label for="dateOfDeparture">Departure date:</label>
                    <input type="text" class="form-control w-100" />
                </div>
                <div class="form-group">
                    <label for="offBlockTime">Off-block time:</label>
                    <input type="text" class="form-control w-100" />
                </div>
                <div class="form-group">
                    <label for="takeoffTime">Takeoff time:</label>
                    <input type="text" class="form-control w-100" />
                </div>
                <div class="form-group">
                    <label for="totalPax">PAX on-board:</label>
                    <input type="number" class="form-control w-100" />
                </div>
                <div class="form-group">
                    <label for="SI">Supplementary information</label>
                    <textarea class="form-control w-100" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
            </form>
        </div>
     </div>