@using BMS.Models.LoadingInstructionInputModels
@model _788LoadingInstructionInputModel
<div class="col">
    <form asp-controller="Operations" asp-action="File788ContainerLoadingInstruction">
        <div class="form-row w-50">
            <div class="form-group col">
                <input asp-for="@Model.FlightNumber" class="form-control" placeholder="Flight number"/>
                <span asp-validation-for="@Model.FlightNumber"></span>
            </div>
        </div>
        <div class="form-group row w-50">
            <div class="input-group">
               <select asp-for="@Model.HoldOneLeft" class="selectpicker" multiple>
                   <option>11L</option>
                   <option>12L</option>
                   <option>13L</option>
               </select>
            </div>
        </div>
    </form>
</div>
<script>

</script>
