
@{
    ViewData["Title"] = "File loading instruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <partial name="_BulkLoadingInstructionPartial"/>
         </div>
        <div class="col">
            <partial name="_788ContainerLoadingPartial" />
        </div>
    </div>
</div>

