@{ 
    this.ViewData["Title"] = "Landing...";
}

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <h1>test</h1>
} 
else
{

}

 