@{
    ViewData["Title"] = "Home Page";
}
@if (!this.User.Identity.IsAuthenticated)
{
    <div class="row">
         <div class="col" style="right:-200px; top:-100px;">
             <button class="btn" style="color:#040e11; background-color:#367585; border-radius:20px; width:100px">Register</button>
         </div>
         <div class="col" style="right:-150px;top:-100px;">
             <button class="btn" style="color:#040e11; background-color:#367585; border-radius:20px; width:100px">Login</button>
         </div>
    </div>
}
else 
{

}   